# Copyright 2020 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Config file for ML Pipeline Generator.

project_id: [PROJECT ID]
bucket_id: [BUCKET ID]
region: "us-central1"
cluster_name: [GKE CLUSTER NAME]
cluster_zone: [GKE CLUSTER ZONE]
scale_tier: "STANDARD_1"
runtime_version: "1.15"
python_version: "3.7"
package_name: "ml_pipeline_gen"
machine_type_pred: "n1-standard-4"

data:
    schema:
        - "age"
        - "workclass"
        - "education_num"
        - "marital_status"
        - "occupation"
        - "relationship"
        - "race"
        - "capital_gain"
        - "capital_loss"
        - "hours_per_week"
        - "native_country"
        - "income_bracket"
    train: "gs://[BUCKET ID]/[MODEL NAME]/data/adult.data.csv"
    evaluation: "gs://[BUCKET ID]/[MODEL NAME]/data/adult.test.csv"
    prediction:
        input_data_paths:
            - "gs://[BUCKET ID]/[MODEL NAME]/inputs/*"
        input_format: "JSON"
        output_format: "JSON"

model:
    # Name must start with a letter and only contain letters, numbers, and
    # underscores.
    name: [MODEL NAME]
    path: "model.tf_model"
    target: "income_bracket"
    metrics:
        - "accuracy"

model_params:
    input_args:
        first_layer_size:
            type: "int"
            help: "Size of the NN first layer."
            default: 50
        num_layers:
            type: "int"
            help: "Number of layers in the NN."
            default: 5
        max_steps:
            default: 1000
    # Relative path.
    hyperparam_config: "hptuning_config.yaml"
    explain_output:
        explain_type: "sampledShapleyAttribution"
        explain_param:
            name: "numPaths"
            value: 40

orchestration:
    host: [KFP DASHBOARD URL]
